/* .nav-background {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	z-index: 10;
} */
.nav {
	position: sticky;
	/* border: 1px red; */
	top: 0;
	/* position: sticky; */
	height: 50px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	/* right: 30px; */
	background-color: white;
	width: 100%;
	border-bottom: 1px solid lightgray;
	box-shadow: 1px gray;
	/* padding-left: 100px;
	padding-right: 100px; */
}

.welcomeDiv {
	color: gray;
	display: flex;
	justify-self: center;
}

.demobtn {
	top: 100px;
	width: 100px;
	/* align-items: center; */
}

/* .images-div{
//   padding-top: 350px;
//   /* display: flex;
//   justify-content: center;
//   flex-direction: column;
// }*/

/* .logo-container{
//   display: flex;
//   height: 7px;
//   width: 12px;
//   gap: 0px;
// } */

/* .welcomeDiv{

} */

.authDiv {
	display: flex;
	gap: 10px;
	margin-right: 25px;
	align-items: center;
}

.logoDiv {
	display: flex;
	/* position: sticky; */
	margin-left: 100px;
	cursor: pointer;
	align-items: center;
	align-content: center;
}
.logo {
	display: flex;
	/* position: sticky; */
	height: 40px;
	width: 100px;
	margin-left: 100px;
	cursor: pointer;
	align-items: center;
	align-content: center;
}
/* .logo:hover(
	pulse
) */

.title {
	height: 30px;
	width: 50px;
	top: 100px;
}

/* -------------- profile dropdown ------------ */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-toggle {
	/* background-color: white; */
	border: 1px solid gray;
	padding: 10px 15px;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	display: none;
	/* background-color: white; */
	border: 1px solid gray;
}

.dropdown-item {
	display: block;
	padding: 10px 15px;
	color: black;
	text-decoration: none;
}

/* ----------------- Login ------------------- */
.formPageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.loginForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-self: center; */
	border: 1px dashed lightgray;
	margin-top: 25px;
	width: 400px;
	gap: 10px;
	padding-bottom: 50px;
	border-radius: 10px;
	padding: 0.5rem;
	/* height: 10px; */
}

.loginImg {
	/* height: 350px; */
	top: 0;
	object-fit: cover;
	border-radius: 10px;
	width: 100%;
	/* height: 100%; */
	/* max-height: fit-content; */
}

.loginPgText {
	padding-top: 2.3rem;
	padding-left: 4rem;
	padding-right: 4rem;
	display: block;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	margin-top: 0;
	letter-spacing: -0.2px;
	margin-bottom: 0;
	color: #1a1a1a;
	opacity: 0.8;
	text-align: center;
}

/* .input{
	width: 350px;
} */

/* ----------------- Sign Up ------------------- */
.signupForm {
	margin-top: 450px;
}

/* ------------------ HomePage ---------------------- */
.homepageContainer {
	/* display: flex; */
	top: 0;
}

.images-div {
	position: static;
	/* padding-top: 350px; */
	padding-bottom: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	border: 2px red;
	justify-content: center;
	width: 100%;
	top: 0;
}

.topImgDiv {
	height: 350px;
	top: 0px;
	left: 0px;
	right: 0px;
	/* position: absolute; */
	object-fit: cover;
}

.topImg {
	/* height: 350px; */
	object-fit: cover;
	width: 100%;
	height: 100%;
	max-height: fit-content;
}

/* .img-div {
//   border: 1px red;
//   box-sizing: border-box;
//   width: 288px;
//   /* position: relative;
// */

.display-img {
	border-radius: 10px;
	border: 1px red;
}

/* ----------------- Testing img styling --------------*/
/* .image-mosaic {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 3fr));
  grid-auto-rows: 240px;
	object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
	object-fit: cover;
} */

/* Container */

.img-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-column-start: 2;
}

.img-item {
	background-color: blue;
	width: 100%;
	height: 300px;
	object-fit: cover;
	display: flex;
	justify-content: center;
	align-self: center;
}

/* ----------------------------------------------- */

.display-image-main {
	padding: 1rem 1.5rem 1.5rem;
	box-sizing: border-box;
	/* justify-content: center; */
	display: grid;
	/* flex-direction: row;
  gap: 10px;
  flex-wrap: wrap; */
	/* grid-template-columns: repeat(3, 300px); */
	/* grid-template-rows: repeat(3, 100px); */
	/* display: grid; */
	grid-template-columns: 1fr 5fr 1fr;
	grid-gap: 10px;
	/* grid-column: 2 / 3; */
}

.middle-column {
	background-color: blue;
	width: 100%;
	height: 300px;
	object-fit: cover;
	display: flex;
	justify-content: center;
	/* align-self: center;Specifying starting and ending columns for the grid item */
}

.display-image-outer {
	/* box-sizing: border-box; */
	position: relative;
	display: flex;
	justify-content: center;
	/* box-sizing: border-box; */
	width: 288px;
	position: relative;
	margin-top: 5px;
	/* margin-bottom: 10px; */
}

.display-image-img {
	border-radius: 10px;
	/* border: 1px solid red; */
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-height: fit-content;
}

.img0,
.img2,
.img5,
.img7 {
	height: 186px;
	object-fit: cover;
}

.img1,
.img3,
.img4,
.img6 {
	height: 286px;
	object-fit: cover;
}

.img0 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}

.img1 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}

.img2 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}

.img3 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 4;
}

.img4 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 6;
}

.img5 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 6;
}

.img6 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 6;
}

.img7 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 6;
}

/* ----------------- Testing img styling --------------*/

.singleImageContainer {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding-bottom: 50px;
}

.background-for-signup-and-login {
	padding-top: 100px;
}

/* --------------------Album Page --------------------------- */
.underTopImgContainer {
	/* padding-top: 300px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.albumPageButtonsDiv {
	display: flex;
	justify-content: center;
}

.myAlbumButton {
	margin-top: 10px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-self: center;
	cursor: pointer;
	/* margin-right: 50px; */
}
.createButton {
	width: 100px;
	display: flex;
	justify-content: center;
	align-self: center;
	cursor: pointer;
	/* margin-right: 50px; */
}

.myAlbums {
	display: flex;
	justify-content: center;
}

.card-container {
	padding-top: 350px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.album-card {
	padding-top: 100px;
}

.album-image {
	height: 200px;
	width: 200px;
}

.form {
	padding-top: 350px;
}

/* ------------------ single Album Page -------------------- */

.removeImageButton {
	margin-top: 250px;
}

.imageTitle {
	/* padding-top: 2px; */
}
/* -------------------- Edit Album Page ------------------------ */

.edit-project-container {
	margin-top: 375px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.edit-project-form {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.edit-project-components {
	display: flex;
	justify-content: center;
	gap: 15px;
}
